@model PhoneStore.Models.Phone

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Phone</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer.ManufacturerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer.ManufacturerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneImg)
        </dt>

        <dd>
            <img src="@Model.PhoneImg" width="60" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PhoneID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
