<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <link href="C:\Users\ADMIN\OneDrive\Desktop\k20_nguyenthanhdat_nguyenhoanglong\PhoneStore\PhoneStore\PhoneStore\css\login.css" rel="stylesheet" />
    <link href="C:\Users\ADMIN\OneDrive\Desktop\k20_nguyenthanhdat_nguyenhoanglong\PhoneStore\PhoneStore\PhoneStore\css\login.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

   <link href="C:\Users\ADMIN\OneDrive\Desktop\k20_nguyenthanhdat_nguyenhoanglong\PhoneStore\PhoneStore\PhoneStore\css\tiemkiem.css" rel="stylesheet"/>
</head>
<body style="margin:2px 2px;">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse" style="height:20px; background-image:url('C:\Users\ADMIN\OneDrive\Desktop\k20_nguyenthanhdat_nguyenhoanglong\PhoneStore\PhoneStore\PhoneStore\images\banner-bg.png');">
                <ul class="nav navbar-nav" style="font-size: 15px ">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Khuyến Mãi", "About", "Home")</li>
                    <li>@Html.ActionLink("Liên hệ", "Contact", "Home")</li>
                    <li><a href="~/Phone/ViewCart"><ion-icon name="cart-outline" style="color:red; font-size:20px;"></ion-icon></a></li>

                </ul>
                <form class="form" style="padding-top:7px;padding-right:5px;">
                    <label for="search">
                        <input class="input" type="text" required="" placeholder="Search Phone Name..." id="search" style="border-radius: 5px; height: auto;">
                        <button style="background-color:#222222"type="submit" value="FindPhoneName" > <ion-icon name="search-outline" style="color:snow; font-size:20px;padding-top:7px; padding-left:2px;"></ion-icon></button>
                    </label>
                </form>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
                    
    </div>
  
@RenderBody()
        
<footer style="font-size:20px; text-align:center; color:black; background-color:#333333;border-radius:10px; margin:0px 10px; padding:10px 20px;">
    <p>Cảm ơn quý khách đã tin tưởng và ủng hộ</p>
    <p>Phone Store BA ANH EM <ion-icon name="heart-outline" style="color:red;"></ion-icon> </p>
    <p>&copy; @DateTime.Now.Year - 58/2c Trương Văn Thành, P. Hiệp Phú, Quận 9, TP.HCM</p>
    <a href="https://www.facebook.com/profile.php?id=100065084714229"><ion-icon name="logo-facebook">NTD</ion-icon> </a>
    <a href="https://www.tiktok.com">Nguyễn Thành Đạt - Nguyễn Hoàng Long - Trần Thành Long <ion-icon name="logo-tumblr"></ion-icon></a>
</footer>
    

  
</body>
</html>
