@model IEnumerable<PhoneStore.Models.Phone>

@{
    ViewBag.Title = "FindPhoneName";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FindPhoneName</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" style="margin:100px">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer.ManufacturerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneImg)
        </th>
        <th></th>
    </tr>
    @if (Model == null)
    {
        <tr>Không tồn tại</tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer.ManufacturerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <img src="@item.PhoneImg" alt="">
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PhoneID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PhoneID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PhoneID })
                </td>
            </tr>
        }
    }


</table>
